<!-- Components/Pagination.razor -->
<ul class="pagination">
    <li class="page-item @(CurrentPage == 1 ? "disabled" : "")">
        <button class="page-link" @onclick="() => OnPageChanged.InvokeAsync(CurrentPage - 1)">Previous</button>
    </li>

    @for (int i = 1; i <= TotalPages; i++)
    {
        var pageNumber = i;
        <li class="page-item @(CurrentPage == pageNumber ? "active" : "")">
            <button type="button" class="page-link" @onclick="() => OnPageChanged.InvokeAsync(pageNumber)">@pageNumber</button>
        </li>
    }

    <li class="page-item @(CurrentPage == TotalPages ? "disabled" : "")">
        <button type="button" class="page-link" @onclick="() => OnPageChanged.InvokeAsync(CurrentPage + 1)">Next</button>
    </li>
</ul>

@code {
    [Parameter]
    public int CurrentPage { get; set; }

    [Parameter]
    public int TotalPages { get; set; }

    [Parameter]
    public EventCallback<int> OnPageChanged { get; set; }
}
